---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <img src="/project-campfire-website/assets/images/campfire.jpg" alt="Campfire"
    style="width:70%; text-align:center; display:block;">

  <p style="margin-top: 50px;">
    We implemented a two-dimensional chemical reaction simulator that can simulate a combination of concentration
    regions and particle regions in the same scene. Parallelizing this simulator with OpenMP, we were able to achieve a
    total speedup of 5.6 for a 200,000 particle simulation over 200 iterations on the 8-core Gates-Hillman Center (GHC)
    machines. The speedups and amount of cache misses for several sub-routines were examined to explain the
    less-than-perfect speedup. Additionally, we were able to achieve a total speedup of 22.23 for a 200,000 particle
    simulation over 200 iterations with 64 cores on the Pittsburgh Supercomputing Center (PSC) Bridges-2 machines. This
    work was complemented by the development of visualization software, allowing us to represent the
    iteration-by-iteration results of the simulations as a GIF.
  </p>

  {{ content }}


  {% if site.paginate %}
  {% assign posts = paginator.posts %}
  {% else %}
  {% assign posts = site.posts %}
  {% endif %}

  <h2 style="margin-top: 40px;">Posts</h2>

  {%- if posts.size > 0 -%}
  {%- if page.list_title -%}
  <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <li>
      <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  {% if site.paginate %}
  <div class="pager">
    <ul class="pagination">
      {%- if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page
          }}</a></li>
      {%- else %}
      <li>
        <div class="pager-edge">•</div>
      </li>
      {%- endif %}
      <li>
        <div class="current-page">{{ paginator.page }}</div>
      </li>
      {%- if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
      {%- else %}
      <li>
        <div class="pager-edge">•</div>
      </li>
      {%- endif %}
    </ul>
  </div>
  {%- endif %}

  {%- endif -%}

</div>